
.bg-blue {
    background-color: #2c3e50;
}

#jumbo {
    background-color: #28bc9f;
}

#jumbo .container .row img {
    height: 200px;
}

#jumbo .row hr {
    height: 5px;
    border-radius: 10px;
    opacity: 1;
}

#jumbo .row .col p {
    font-size: 13px;
}

#contact .form-control {
    border-radius: 0;
    border-width: 0 0 1px 0;
}































 /* LAYOUT */
.brdr {
    border: 1px dashed black;
}



.jumbo {
    height: 500px;
    background-color: lightgreen;
}

.jumbo-col {
    height: 100%;
    border: 1px dashed black;
}

.portfolio {
    margin-top: 100px;
}

.portfolio .container .row * {
    height: 200px;
    border: 1px dashed black;
    /* margin: 10px 0; */
    background-color: red;
}

.about {
    margin-top: 50px;
    height: 500px;
    background-color: lightgreen;
}

.contact-me {
    
    height: 500px;
}

.footer {
    height: 300px;
}

.top-footer {
    height: 200px;
    background-color: cadetblue;
}

.bottom-footer {
    height: 100px;
    background-color: rgb(6, 93, 151);
}