.brdr {
    border: 1px dashed black;
}


.header {
    height: 80px;
    border: 1px dashed black;
    background-color: yellow;
}

.jumbo {
    height: 500px;
    background-color: lightgreen;
}

.jumbo-col {
    height: 100%;
    border: 1px dashed black;
}

.portfolio {
    margin-top: 100px;
}

.portfolio .container .row * {
    height: 200px;
    border: 1px dashed black;
    margin: 10px 0;
    background-color: red;
}

.about {
    margin-top: 50px;
    height: 500px;
    background-color: lightgreen;
}